@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Avenir Black';
    src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
  }

*,
 *::after, 
 *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    /* Colour Theme */
    --blinq-purple: #7765c4;
    --blinq-white : #fff;
    --blinq-dark-grey: #7F7F8F;
    --blinq-deep-grey: #212121;
    --blinq-extra-light-bg : #FAFAFA;
    /* Shadows */

    /* Animations */
}

html, body{
    font-family: 'Avenir' !important;
    height: 100vh !important;
  }
  p{
      margin: 0 !important;
  }

.modal-logo{
margin-top: 3px;
height: 13pt;
width: auto;
margin-left: 1vmin;
}
.close-button{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    transition: background-color 300ms ease;
    position: absolute;
    right: -40px;
    top: -3px;
    cursor: pointer;
    background-color:  var(--blinq-white);
}
.close-button:hover{
    background-color: var(--blinq-purple);
}
.close-button:hover .close-icon svg .inner{
    fill:  var(--blinq-white);
}

.display__none {
    display: none !important;
}

/* positioning */
.x-centered{
    margin-left: auto;
    margin-right: auto;
}

.justify-center{
justify-content: center;
}

.align-center{
align-items: center;
}

.v-centered{
flex-direction: column;
align-items: center;
}
.uppercase{
text-transform: uppercase;
}

.text-center{
text-align: center;
}

.text-right{
text-align: right;
}

.d-flex{
display: flex !important;
}
.space-centered{
    justify-content: space-between !important;
    align-content: center !important;  
}
.centered{
justify-content: center !important;
align-content: center !important;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-60{
    margin-top: 60px;
}

.width-70 {
  width: 70%;
}

/* color */
.text-white{
color: var(--blinq-white);
}
.text-deep-grey{
color: var(--blinq-deep-grey);
}
.text-muted{
color: var(--blinq-dark-grey)
}
.refresh-text{
  text-decoration: underline;
  cursor: pointer;
  color: var(--blinq-purple);
}

/* size */

.stretch{
    width: 100%;
  }
  .padded-x-5{
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
  }
.full-width{
    width: 100vw;
}
.full-height{
    height: 100%;
}
.verification-text{
  font-weight: bold;
  font-size: 16px;
  margin-top: -30px;
  margin-bottom: 30px;
}
.time-text{
  display: flex;
  justify-content: center;
  margin-top: -10px;
}
.help{
  display: flex;
  justify-content: end;
  margin-right: -10px;
  cursor: pointer;
  text-align: center;
  
}
.help-container{
  display: flex;
  align-items: center;
}
.help-text{
  align-items: center;
  margin-left: 5px;
}

/* carousel */
.rec-carousel{
  width: 320px !important;
}
/* global */
/* .ant-form-item {
    margin-bottom: 12px !important;
    
} */
.ant-form-item-control-input-content span.ant-input-affix-wrapper {
    height: 40px !important;
    background: rgba(255, 255, 255, 0.8) !important;
    border: 0.361917px solid #424242 !important;
    box-sizing: border-box;
    border-radius: 7.23834px !important;
    outline: 0 !important;
    box-shadow: none;
    /* margin-bottom: 10px; */
}
.ant-form-item-control-input-content .ant-select {
  height: 40px !important;
  background: rgba(255, 255, 255, 0.8) !important;
  border: 0.361917px solid #424242 !important;
  box-sizing: border-box;
  border-radius: 7.23834px !important;
  outline: 0 !important;
  box-shadow: none;
  /* margin-bottom: 10px; */
}
.ant-form-item-control-input-content .ant-select-focused{
  border: 0.361917px solid var(--blinq-purple) !important ;
    outline: 0 !important;
    box-shadow: none;
}
.ant-form-item-control-input-content span.ant-input-affix-wrapper-focused {
    border: 0.361917px solid var(--blinq-purple) !important ;
    outline: 0 !important;
    box-shadow: none;
}
.ant-form-item-control-input-content input[type='date'], .ant-input.normal-input{
    height: 40px !important;
    background: rgba(255, 255, 255, 0.8) !important;
    border: 0.361917px solid #424242 !important;
    box-sizing: border-box;
    border-radius: 7.23834px !important;
    outline: 0 !important;
}
.ant-select-selector, .ant-select-selector:focus, .ant-select-focused .ant-select-selector{
  border: none !important;
  background-color: transparent !important;
  height: 100% !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.ant-input.normal-input:focus, .ant-form-item-control-input-content input[type='date']:focus {
    border: 0.361917px solid var(--blinq-purple) !important ;
    outline: 0 !important;
    box-shadow: none !important;
}
.ant-form-vertical .ant-form-item-label > label{
  color: var(--blinq-purple) !important ;
  font-size: 14px;
}
.ant-select .ant-select-selection-item, .ant-select-selection-placeholder{
  display:flex !important;
  align-items: center !important;
}

/* OTP */
.otpinput-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
.otpinput {
  display: flex;
  justify-content: space-between;
}
.otp-field {
  background: #ffffff;
  border: 1.0528px solid #443586;
  box-sizing: border-box;
  filter: drop-shadow(0px 4.21118px 7.01863px rgba(0, 0, 0, 0.1));
  border-radius: 3.50932px;
  box-shadow: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  transition: all ease-in-out 0.3s;
  color: #7765c4;
}
.otp-field:focus {
  border: 1px solid #7765c4;
  outline: 0;
}
input.otp-field {
  width: 3em !important;
  height: 3em;
}

/* general */
.modal-card{
    background-color: var(--blinq-extra-light-bg);
    width: 100%;
    display: block;
    /* padding: 1rem 2rem; */
    box-shadow: 0px 2.83871px 2.83871px rgba(0, 0, 0, 0.15);
    border-radius: 14.1935px;
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-number-affix-wrapper-disabled):not(.ant-input-number-affix-wrapper-borderless).ant-input-number-affix-wrapper, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover, .ant-form-item-has-error :not(.ant-input-number-affix-wrapper-disabled):not(.ant-input-number-affix-wrapper-borderless).ant-input-number-affix-wrapper:hover{
  border-color: red !important;
}
.ant-form-item-explain-error{
  color: #D83232 !important;
  font-size: 12px !important;
  /* margin-top: 10px !important; */
}
.ant-form-item-explain-error:before{
  color: '*';
}


.spinner {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .spinner .path {
    stroke: rgb(219, 212, 243);
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite;
  }

.button-spinner {
  position: initial !important;
  width: 20px !important;
  height: 20px !important;
  margin: 0 !important;
}

.close-spinner {
  position: initial !important;
  width: 40px !important;
  height: 40px !important;
  margin: 0 auto !important;
  display: block;
}

  @-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  .empty-container {
    padding: 12px;
    position: relative;
    min-height: 100px;
  }

  .empty-container span {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .custom-phone-input {
    height: 38px !important;
  }
  .margin-bottom--none {
    margin-bottom: 0 !important;
  }

  .suspense {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loading-bar-container {
    margin: 0.8rem 0;
    display: flex;
    justify-content: center;
  }