@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Avenir Black';
    src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
  }

*,
 *::after, 
 *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    /* Colour Theme */
    --blinq-purple: #7765c4;
    --blinq-white : #fff;
    --blinq-dark-grey: #7F7F8F;
    --blinq-deep-grey: #212121;
    --blinq-extra-light-bg : #FAFAFA;
    /* Shadows */

    /* Animations */
}

html, body{
    font-family: 'Avenir';
    height: 100vh;
  }
  p{
      margin: 0;
  }

.modal-logo{
margin-top: 3px;
height: 13pt;
width: auto;
margin-left: 1vmin;
}
.close-button{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    transition: background-color 300ms ease;
    position: absolute;
    right: -40px;
    top: -3px;
    cursor: pointer;
    background-color:  var(--blinq-white);
}
.close-button:hover{
    background-color: var(--blinq-purple);
}
.close-button:hover .close-icon svg .inner{
    fill:  var(--blinq-white);
}

.display__none {
    display: none !important;
}

/* positioning */
.x-centered{
    margin-left: auto;
    margin-right: auto;
}

.justify-center{
justify-content: center;
}

.align-center{
align-items: center;
}

.v-centered{
flex-direction: column;
align-items: center;
}
.uppercase{
text-transform: uppercase;
}

.text-center{
text-align: center;
}

.text-right{
text-align: right;
}

.d-flex{
display: flex !important;
}
.space-centered{
    justify-content: space-between !important;
    align-content: center !important;  
}
.centered{
justify-content: center !important;
align-content: center !important;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-pt-70{
    margin-top: 5.83em;
}

/* color */
.text-white{
color: var(--blinq-white);
}
.text-deep-grey{
color: var(--blinq-deep-grey);
}
.text-muted{
color: var(--blinq-dark-grey)
}

/* size */

.stretch{
    width: 100%;
  }
.full-width{
    width: 100vw;
}
.full-height{
    height: 100%;
}
/* global */
/* .ant-form-item {
    margin-bottom: 0;
    
} */
.ant-form-item-control-input-content span.ant-input-affix-wrapper {
    height: 45px !important;
    background: rgba(255, 255, 255, 0.8) !important;
    border: 0.361917px solid #424242 !important;
    box-sizing: border-box;
    border-radius: 7.23834px !important;
    outline: 0 !important;
}
.ant-form-item-control-input-content span.ant-input-affix-wrapper:focus {
    border-color: var(--blinq-purple) !important ;
    outline: 0 !important;
}


/* general */
.modal-card{
    background-color: var(--blinq-extra-light-bg);
    width: 100%;
    display: block;
    /* padding: 1rem 2rem; */
    box-shadow: 0px 2.83871px 2.83871px rgba(0, 0, 0, 0.15);
    border-radius: 14.1935px;
}

.spinner {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .spinner .path {
    stroke: rgb(219, 212, 243);
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite;
  }
  
  @-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }